{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="home">
    {# <img src="https://zupimages.net/up/21/29/vbbv.jpg" alt="background">  #}
    <div class="container" id="home-container">
        <div class="home">
            <h1 class="home-title">{{aboutMe.title}}</h1>
            <h2 class="home-subtitle">{{aboutMe.function}}</h2>
            
        </div>
    </div>
</div>
{% endblock %}
