<nav>
	<div class="navbar-new">
		<a href="/" id="logo-l-screen">Fanny LH</a>
		<ul>
		<li><a class="nav-link" href="/">Accueil</a></li>
		<li><a class="nav-link" href="/a-propos">A propos</a></li>
		<li><a class="nav-link" href="/projets">Projets</a></li>
		<li><a class="nav-link" href="/contact">Contactez-moi</a></li>
		</ul>
	</div>
	<a href="/" id="logo-s-screen">Fanny LH</a>
	<div id="burger-new">
		<input type="checkbox" id="burger_checkbox"/>
		<label for="burger_checkbox"></label>
		<ul id="burger-menu">
			<li><a class="nav-link" href="/">Accueil</a></li>
			<li><a class="nav-link" href="/a-propos">A propos</a></li>
			<li><a class="nav-link" href="/projets">Projets</a></li>
			<li><a class="nav-link" href="/contact">Contactez-moi</a></li>
		</ul>
	</div>
</nav>
